@{
    ViewData["Title"] = "Write To Write";
}
  

<div>
    <p><b>Введите идею</b></p>
    <p><textarea rows="3" cols="45" name="idea" id="insertedIdea"></textarea></p>
    <p><input type="submit" onclick="saveIdea()" value="Отправить"></p>
</div>

<div>
    <p><b>Достать сохранённую идею</b></p>
    <p><textarea rows="10" cols="45" id="randomIdea"></textarea></p>
    <p><input type="submit" onclick="getIdea()" value="Отправить"></p>
</div>

<div>
    <p><b>Начать историю</b></p>
    <p><textarea rows="10" cols="45" id="textBlock"></textarea></p>
    <p><input type="submit" onclick="saveText()" value="Отправить"></p>
</div>

<script>

    function saveIdea() {
        var postData = document.getElementById('insertedIdea').value;
        var url = "https://localhost:44394/Idea/SaveIdea?ideaText=" + postData;
        var method = 'GET';
        var shouldBeAsync = false;
        var oXHR = new XMLHttpRequest();

        oXHR.open(method, url, shouldBeAsync);
        oXHR.setRequestHeader("Content-Type", "application/json");
        oXHR.send();
    }

    function saveText() {
        var postData = document.getElementById('textBlock').value;
        var url = "https://localhost:44394/Idea/SaveText?text=" + postData;
        var method = 'GET';
        var shouldBeAsync = false;
        var oXHR = new XMLHttpRequest();

        oXHR.open(method, url, shouldBeAsync);
        oXHR.setRequestHeader("Content-Type", "application/json");
        oXHR.send();
    }

    function getIdea() {
        var url = "https://localhost:44394/Idea/GetRandomIdea";
        var method = 'POST';
        var shouldBeAsync = false;
        var oXHR = new XMLHttpRequest();

        function appendFull() {
            if (oXHR.status == 200) {
                console.log(oXHR.responseText);
                var result = oXHR.responseText;
                document.getElementById("randomIdea").innerText = result;               
            }
        }

        oXHR.onreadystatechange = appendFull;
        oXHR.open(method, url, shouldBeAsync);
        oXHR.setRequestHeader("Content-Type", "application/json");
        oXHR.send();
    }


</script>
